.ImagePreviewWidget {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  padding: 0 2rem;
}

.ImagePreviewWidget > img {
  height: 30rem;
}

.cm-line:not(.cm-activeLine) .cm-conceal {
  display: none;
}

.cm-activeLine .KatexWidget {
  display: none;
}
