/* css reset */

*, *::before, *::after {
	box-sizing: border-box;
}

html, body, div {
	margin: 0;
	padding: 0;
}

html {
	padding-top: 1em;
	padding-bottom: 100vh;
}

pre {
	margin-top: 0;
	margin-bottom: 0;
}

p,
h1, h2, h3, h4, h5, h6,
ol, ul,
ibis-view
{
	/* Use margin collapse */
	margin: 1rem 0;
}

body > * {
	max-width: 600px;
	margin: 0 auto;
}

/* everything else */

body[ibis-syncing]:not([ibis-syncing=""])::before {
	content: "";

	display: block;
	width: 100%;
	height: 4px;

	position: fixed;
	top: 0;
	left: 0;

	background: orange;
}

a, [role=button] {
	color: blue;
	cursor: pointer;
}

ibis-view > .CodeMirror {
	height: auto;
	margin: 1rem 0;
}

ibis-card {
	display: block;
	border: 1px solid rgba(127, 127, 127, 0.4);
	border-radius: 4px;
	padding: 0 1rem 1rem;
	margin: 1rem 0;

	transition: background 1s;
}

	ibis-card.opened {
		transition: background 0s;
		background: rgba(127, 127, 127, 0.4);
	}

	ibis-card[loading] {
		transition: background 0s;
		background: red;
	}

	ibis-card > h1 {
		overflow-wrap: anywhere;
	}

	ibis-card .card-button {
		cursor: pointer;
		float: right;
		margin: 0 .2em;
		text-decoration: none;
	}

	ibis-index > div > a {
		margin: 0 .5em;
	}

ibis-search input {
	width: 100%;
	padding: 0.3rem;
	margin-bottom: 0.5rem;
	border: 1px solid grey;
}

.cm-link {
	color: #0000ff;
	text-decoration: underline;
	cursor: pointer;
}
