/* Foundation -------------------------------------------------------------- */

html {
	/* based on <https://github.com/system-fonts/modern-font-stacks> */
	--main-font-family:
		Merriweather,
		"Iowan Old Style",
		"Palatino Linotype",
		"URW Palladio L",
		"P052",
		serif;
	--mono-font-family:
		Menlo,
		Consolas,
		Monaco,
		"Liberation Mono",
		"Lucida Console",
		monospace;
	--hand-font-family: cursive, sans-serif;

	/* text */
	--body-fg: light-dark(black, #e7e6e5);
	--body-bg: light-dark(white, #191a1a);

	/* ui lines */
	--stroke: rgba(127.5, 127.5, 127.5, 0.4);

	/* background of boxes/etc */
	--box-tint: color-mix(in srgb, var(--primary), var(--body-bg) 95%);
	--button-tint: color-mix(in srgb, var(--primary), var(--body-bg) 80%);

	/* filled in UI elements */
	--filled-fg: white;
	--filled-bg: #990461;

	/* text colours */
	--primary: #db5599;
	--secondary: #a747ff;
	--tertiary: #939c28;

	/* colour of links */
	--linking: light-dark(#094eba, #4890ff);

	--content-width: min(50rem, 90vw);
}

html {
	color-scheme: dark;
	@media (prefers-color-scheme: light) {
		color-scheme: light;
	}
	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
	@media print {
		color-scheme: light;
	}
}

/* reset */
*, *::before, *::after {
	box-sizing: border-box;
}

html, body, div {
	margin: 0;
	padding: 0;
}

/* typography */
html {
	color: var(--body-fg);
	background-color: var(--body-bg);
	font-family: var(--main-font-family);
	text-align: left;

	line-height: 1.9;

	tab-size: 4;
}

pre, code {
	font-family: var(--mono-font-family);
}

textarea, select, input, button, a[role="button"] {
	color: inherit;
	font: inherit;
}

/* Top-level App ----------------------------------------------------------- */

html, body, main {
	height: 100vh;
}

.Cards {
	height: 100%;
}

.CardsRow {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	gap: 2rem;

	&::before, &::after {
		content: "";
		display: block;
		width: calc((100vw - var(--content-width)) / 2 - 0.5rem);

		flex-shrink: 0;
	}

	> * {
		/* in order to have each one scroll independently */
		flex-shrink: 0;
		width: fit-content;

		height: fit-content;
		max-height: 100%;
		overflow-y: auto;
	}
}

/* Cards ------------------------------------------------------------------- */

.WidgetCard {
	width: var(--content-width); /* default */

	> h1, > h2, > section {
		&:not(:last-child) {
			border-bottom: 1px solid var(--stroke);
		}
	}

	> h1 {
		margin: 0;
		overflow-wrap: anywhere; /* since our titles are single words usually */

		contain: layout; /* stop floats from escaping */

		position: sticky;
		top: 0;
		background-color: var(--body-bg);
		z-index: 10;

		button, [role="button"] {
			margin: 0.2em 0.2em;
			line-height: 100%;

			padding: 0.2em;

			float: right;
		}
	}
}
